/* RESETEO */
*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    font-size: 62.5%;
}
body{
    background-color: black ;
}



/* mediaqueries celular */
@media screen and (max-width:460px){
    /* menu/ index mediaqueries  */
    .nav{
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }
    .nav > ul{
        width: 100%;
    }
    .nav > ul > li > a{
        margin: 1rem;
    }
    .nav span a{
        font-size: 3rem;
    }

    .imagenes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem;
    }
    .imagenes img{
        width: 100%;
        height: 100%;
    }
    .contenido p{
        font-size: 1.5rem;
    }
    .contenido video{
        height: 80%;
        width: 80%;
    }

    /* NOSOTROS HTML MEDIAQUERIES */
    .aboutUs{
        font-size: 4rem;
        margin-top: 2.5rem;
    }
    .parrafoNosotros{
    font-size: 1rem;
    text-align: center;
    font-weight: 600 ;
    width: 90%;
    margin-left: 1rem;    
}
    .aboutUsUno p span{
    font-size: 1.2rem;
}
    .prendas h3{
    font-size: 3.5rem;
}
    .prendas p{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600 ;
    width: 90%;
    margin: 1rem;    
}
    .tabla h3{
    font-size: 3.5rem;
}
    .tabla img{
    width: 80%;
    height: 80%;
}
/* PRODUCTOS MEDIAQUERIES */
    .containerProductos h2{
        font-size: 4rem;
    }
    .stockPadre{
            width: 50%;
            display: flex;
            justify-self: center;
    }
    .containerProductos h2{
        text-align: center;
    }
    /* LOCALES MEDIAQUERIES */
    .tituloLocales h2{
        font-size: 4.5rem;
    }
    .localUno p{
        font-size: 2.8rem;
    }
    /* FAQS MEDIAQUERIES */
    .faqs h2{
        font-size: 5.5rem;
    }
    .faqsPregunta{
        font-size: 3.5rem;
        font-style: italic;
    }
    .faqsUno{
        font-size: 0.5rem;
    }
    .faqsPolicy{
        font-size: 5rem;
        font-style: italic;
    }
    .faqsParrafo{
        font-size: 0.5rem;
    }
    }
/* mediaqueries tablet */

@media screen and (max-width:600px){

    /* MENU/INDEX MEDIAQUERIE */
        .nav{
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .nav > ul{
            width: 100%;
        }
        .nav > ul > li > a{
            margin: 1rem;
        }
        .nav span a{
            font-size: 6rem;
        }
        .imagenes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        /* PRODUCTOS MEDIAQUERIE */
        .stockPadre{
            width: 50%;
            display: flex;
            justify-self: center;
        }
        .rowProductos{
            flex-direction: column;
            align-items: center;
        }
    /* NOSOTROS MEDIAQUERIE */
        .aboutUs{
                font-size: 6rem;
                font-style: italic;
            }
            .parrafoNosotros{
                font-size: 1.5rem;
                font-weight: 600;
            }
            .aboutUsUno p span{
                font-size: 1.8rem;
            }
            .prendas h3{
                font-size: 6rem;
                font-style: italic;
                margin: 1rem;
            }
        .prendas p{
                font-size: 2rem;
                font-weight: 600;
            }
            .tabla h3{
                font-size: 6rem;
                font-style: italic;
                margin: 1rem;
            }
            .tabla img{
                width: 80%;
                height: 80%;
            }
            /* LOCALES MEDIAQUERIE */
            .tituloLocales h2{
                font-size: 6rem;
                font-style: italic;
            }
            .localUno p{
                font-size: 2rem;
            }
            /* FAQS MEDIAQUERIE */
            .faqs h2{
                font-size: 8rem;
                font-style: italic;
            }
            .faqsPregunta{
                font-size: 3.5rem;
                font-style: italic;
            }

            .faqsParrafo{
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
            }
            .faqsPolicy{
                font-size: 6.5rem;
                font-style: italic;
            }
            .faqsUno{
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    

/* mediaqueries desktop */
@media screen and (max-width:900px){
    /* MENU/INDEX MEDIAQUERIE */
    .nav{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav > ul{
        width: 100%;
    }
    .nav > ul > li > a{
        margin: 1rem;
    }
    .nav span a{
        font-size: 10rem;
    }
    .imagenes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* PRODUCTOS MEDIAQUERIE */
    .stockPadre{
        width: 50%;
        display: flex;
        justify-self: center;
        justify-content: center;
    }


}