/* RESETEO */
*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    font-size: 62.5%;
}
body{
    background-color: black ;
}
/* grid layout */
.container{
    display: grid;
    min-height: 100vh;
    grid-template-areas:
    "nav nav"
    "imagenes imagenes"
    "contenido contenido"
    "footer footer";
    grid-template-rows: 1.5fr 3fr 2fr 1fr;
}
/* MENU/LOGO */
.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    margin: 6rem;
    width: auto; 
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav span a{
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-weight: 1000;
    font-size: 7.5rem;
    text-shadow: -5px -5px 5px rgb(82, 81, 81),
             0px 4px 1px rgba(255, 250, 250, 0.5),
             4px 4px 5px rgba(107, 107, 107, 0.7),
             0px 0px 7px rgba(155, 155, 155, 0.4);
            letter-spacing: 1.5rem;
            word-spacing: 0.5rem;
}

.nav span{
    font-weight: 700;
    margin-left: 5vw;
}

.nav span:hover{
    transform: scale(1.2);
}
.nav > ul{
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-evenly;
}
.nav > ul > li{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(209, 209, 209);
}
.nav ul li a:hover{
    background-color: rgb(124, 123, 123); ;
}

.nav > ul > li > a{
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-weight: 1000;
    font-size: 1.4rem;
}


/* SubMenu */
.subMenu{
    position: absolute;
    background-color: gray;
     display: none; 
    list-style: none;
}
.subMenu li{
    display: flex;
    justify-content: center;
}

.subMenu li a{
    display: block;
    padding: 0.5rem;
    color: rgb(209, 209, 209);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}

.nav li:hover .subMenu{
    display: block;
}
/*  IMAGENES */
.imagenes{
    grid-area: imagenes;
    display: flex;
    justify-self: center;
}
.imagenes img{
    width: 50%;
    height: 60%;
}


/* CONTENIDO */
.contenido{
    grid-area: contenido;
}
.contenido p{
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    color: rgb(209, 209, 209);
}
.video{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.video video{
    width: 40rem ;
    height: 20rem;
}
/* FOOTER / LOGO IG WAPP ARRIBA */
.footer{
    grid-area: footer;
}
.footer span{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(209, 209, 209);
}
.itemFixed{
    position: fixed;
    bottom: 0;
    right: 0;
}

.itemFixedDos{
    position: fixed;
    bottom: 0;
    left: 0;
}

.itemFixedDosProducto{
    position: fixed;
    bottom: 0;
    left: 0;
}

/* logo de instagram */
.instagram{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0rem 0rem 5rem 0rem;
}
.instagram img{
    width: 3rem;
    height: 3rem;
}

/* PRODUCTOS HTML */
.containerProductos{
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "nav nav"
    "h2 h2"
    "producto producto"
    "stock stock"
    "footer footer";
    grid-template-rows: 1.5fr 1fr 2fr 2fr 1fr;
}
.nav{
    grid-area: nav;
}
.containerProductos h2{
    grid-area: h2;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(209, 209, 209);
    font-style: italic;
}
.productos{
    grid-area: producto;
    column-gap: 10rem;
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.productos h4{
    color: rgb(209, 209, 209);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 1000;
}
.productos img{
    width: 10rem;
    height: 15rem;
}

.productos p{
    color: rgb(209, 209, 209);
    text-align: center;
    font-size: 1rem;
    font-weight: 1000;
}
.productoBlanco{
    display: grid;
    justify-items: center;
    margin: 1rem;
}
.productoBlanco:hover{
    transform: scale(1.1);
}
.productoNegro:hover{
    transform: scale(1.1);
}
.productoNegro{
    display: grid;
    justify-items: center;
    margin: 1rem;
}
.productos button{
    font-size: 0.8rem;
    font-weight: 1000;
    border-radius: 20%;
    padding: 1%;
}
/* STOCK  */
.stockPadre{
    grid-area: stock;
    margin-top: 5rem;

}
form fieldset{
    color: rgb(209, 209, 209);
    font-weight: 800;
    font-size: 2.5rem;
}
form fieldset legend{
    text-align: center;
    font-weight: 1000;
    font-size: 2.2rem;
    
}
.boton{
    margin: 0.5rem;
    padding: 1rem;
}

.productoBlanco:hover{
    border: 1px gray solid;
}
.productoNegro:hover{
    border: 1px gray solid;
}

.footer{
    grid-area: footer;
}

/* NOSOTROS HTML */

.containerNosotros{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "about about"
    "prendas prendas"
    "tabla tabla"
    "footer footer";
    grid-template-rows:  1.3fr 1fr 1.5fr 2fr 1fr;
}
.nav{
    grid-area: nav;
}
/* ABOUT US */

.aboutUsUno{
    grid-area: about;
}
.parrafoNosotros{
    text-align: center;
    font-size: 1.5rem;
    color: rgb(209, 209, 209);
}
.aboutUsUno p span{
    font-size: 1.5rem;
    font-weight: bolder;
}
.aboutUs{
    text-align: center;
    font-size: 4.5rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
    font-style: italic;
}
/* NUESTRAS PRENDAS */
.prendas{
    grid-area: prendas;
}
.prendas h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
    font-style: italic;
}
.prendas p{
    text-align: center;
    font-size: 2rem;
    color: rgb(209, 209, 209);
}
.prendas p b{
    font-size: 1.5rem;
    font-weight: bolder;
}
/* TABLA DE TALLES */
.tabla{
    grid-area: tabla;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabla h3{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
    font-style: italic;
}
.tabla img{
    width: 40%;
    height: 50%;
}
.footer{
    grid-area: footer;
}

/* LOCALES HTML */
.containerLocales{
    display: grid;
    min-height: 100vh;
    grid-template-areas: 
    "nav nav"
    "h2 h2"
    "locales locales"
    "footer footer";
    grid-template-rows: 1fr 1fr 3fr 3fr;
}

.nav{
    grid-area: nav;
}

.tituloLocales{
    grid-area: h2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: italic;
}
.tituloLocales h2 {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
    
}
.tituloLocales img{
    width: 5rem;
    height: 5rem;
}
.nombresLocales{
    grid-area: locales;
}
.nombresLocales p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
    margin: 3rem;
}
.localUno{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    grid-area: footer;
    margin-top: 5rem;
}

/* FAQS HTML */
.containerFaqs{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "titulo titulo"
    "pregunta1 pregunta1"
    "pregunta2 pregunta2"
    "footer footer";
    grid-template-rows: 1.5fr 1fr 2fr 2fr 1fr;
}

.nav{
    grid-area: nav;
}
.faqs{
    grid-area: titulo;
    text-align: center;
    font-size: 7rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
    font-style: italic;
}
.faqsContainer{
    grid-area: pregunta1;
}
.faqsPregunta{
    text-align: center;
    font-size: 3rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
    margin-bottom: 2rem;
    font-style: italic;
}
.faqsUno{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
}
.faqsDos{
    grid-area: pregunta2;
}
.faqsPolicy{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
    margin-bottom: 2rem;
    font-style: italic;
}
.faqsParrafo{
    text-align: center;
    font-size: 1rem;
    font-weight: 1000;
    color: rgb(209, 209, 209);
}
.footer{
    grid-area: footer;
}

/* mediaqueries celular */
@media screen and (max-width:390px){
    /* menu/ index mediaqueries  */
    .nav{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav > ul{
        width: 100%;
    }
    .nav > ul > li > a{
        margin: 1rem;
    }
    .nav span a{
        font-size: 4rem;
    }

    .imagenes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem;
    }
    .imagenes img{
        width: 100%;
        height: 100%;
    }
    .contenido p{
        font-size: 1.5rem;
    }
    .contenido video{
        height: 80%;
        width: 80%;
    }

    /* NOSOTROS HTML MEDIAQUERIES */
    .aboutUs{
        font-size: 4rem;
        margin-top: 2.5rem;
    }
    .parrafoNosotros{
    font-size: 1rem;
    text-align: center;
    font-weight: 600 ;
    width: 90%;
    margin-left: 1rem;    
}
.aboutUsUno p span{
    font-size: 1.2rem;
}
.prendas h3{
    font-size: 3.5rem;
}
.prendas p{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600 ;
    width: 90%;
    margin: 1rem;    
}
.tabla h3{
    font-size: 3.5rem;
}
.tabla img{
    width: 80%;
    height: 80%;
}
/* PRODUCTOS MEDIAQUERIES */
.containerProductos h2{
    font-size: 4rem;
}
.stockPadre{
    width: 90%;
    display: flex;
    justify-self: center;
}
/* LOCALES MEDIAQUERIES */
.tituloLocales h2{
    font-size: 4.5rem;
}
.localUno p{
    font-size: 2.8rem;
}
/* FAQS MEDIAQUERIES */
.faqs h2{
    font-size: 5.5rem;
}
.faqsPregunta{
    font-size: 3.5rem;
    font-style: italic;
}
.faqsUno{
    font-size: 0.5rem;
}
.faqsPolicy{
    font-size: 5rem;
    font-style: italic;
}
.faqsParrafo{
    font-size: 0.5rem;
}
}
/* mediaqueries tablet */

@media screen and (max-width:600px){

    /* MENU/INDEX MEDIAQUERIE */
        .nav{
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        .nav > ul{
            width: 100%;
        }
        .nav > ul > li > a{
            margin: 1rem;
        }
        .nav span a{
            font-size: 6rem;
        }
        .imagenes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        /* PRODUCTOS MEDIAQUERIE */
        .stockPadre{
            width: 50%;
            display: flex;
            justify-self: center;
        }
    /* NOSOTROS MEDIAQUERIE */
        .aboutUs{
                font-size: 6rem;
                font-style: italic;
            }
            .parrafoNosotros{
                font-size: 1.5rem;
                font-weight: 600;
            }
            .aboutUsUno p span{
                font-size: 1.8rem;
            }
            .prendas h3{
                font-size: 6rem;
                font-style: italic;
                margin: 1rem;
            }
        .prendas p{
                font-size: 2rem;
                font-weight: 600;
            }
            .tabla h3{
                font-size: 6rem;
                font-style: italic;
                margin: 1rem;
            }
            .tabla img{
                width: 80%;
                height: 80%;
            }
            /* LOCALES MEDIAQUERIE */
            .tituloLocales h2{
                font-size: 6rem;
                font-style: italic;
            }
            .localUno p{
                font-size: 2rem;
            }
            /* FAQS MEDIAQUERIE */
            .containerFaqs h2{
                font-size: 6.5rem;
                font-style: italic;
            }
            .faqsPregunta{
                font-size: 3.5rem;
                font-style: italic;
            }

            .faqsParrafo{
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
            }
            .faqsPolicy{
                font-size: 6.5rem;
                font-style: italic;
            }
            .faqsUno{
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    

/* mediaqueries desktop */
@media screen and (max-width:900px){
    /* MENU/INDEX MEDIAQUERIE */
    .nav{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav > ul{
        width: 100%;
    }
    .nav > ul > li > a{
        margin: 1rem;
    }
    .nav span a{
        font-size: 10rem;
    }
    .imagenes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* PRODUCTOS MEDIAQUERIE */
    .stockPadre{
        width: 50%;
        display: flex;
        justify-self: center;
        justify-content: center;
    }


}